:root {
}

.stat-label {
    bottom: auto;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    font-size: 45px;
    -unity-font-style: bold;
    margin-left: 30px;
}

.hidden {
    display: none;
}

.red {
    -unity-background-image-tint-color: rgb(207, 0, 0);
}

.dash-filled {
    background-color: rgb(0, 103, 215);
}


